html { 
  background-color: #282c34;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topnav-group {
  background-color: #181a1d;
  overflow: hidden;
}

.topnav {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.topnav a {
  float:initial;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  margin: 15px;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(255,182,222);
  color: #181a1d;;
}

.green-arrow {
  height: 15px;
  filter: invert(31%) sepia(90%) saturate(3488%) hue-rotate(128deg) brightness(90%) contrast(102%);
}

.red-arrow {
  height: 15px;
  filter: invert(8%) sepia(92%) saturate(6264%) hue-rotate(9deg) brightness(92%) contrast(115%);
}

.highlight {
  color: rgb(255,182,222);
  font-weight: bold;
}

.upArrow {
  margin-left: 4px;
  color: rgb(0, 142, 33);
  font-weight: bold;
}

.downArrow {
  margin-left: 4px;
  color: rgb(175, 0, 0);
  font-weight: bold;
}

.ticker-table {
  margin-left: auto;
  margin-right: auto;
  width: 64%;
  margin-top: 5vmin;
  border:1px solid rgb(255,182,222)
}

.content-table {
  margin-left: auto;
  margin-right: auto;
}

.how-to-table {
  margin-top: 5vmin;
  margin-left: 20px;
}

.donut-table {
  margin-top: 5vmin;
  margin-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: rgb(255,182,222);
  text-decoration: none;
}

.title-text {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.left-body {
  text-align: left;
  margin: 20px;
  background-color: #282c34;
}

.container {
  width: 80%;
  background-color: #282c34;
  margin: auto;
  padding: 10px;
}

.content {
  margin: auto;
  width: 80%;
  border:1px solid rgb(255,182,222);
  background-color: #282c34;
}

.howToImg {
  margin: auto;
  width: 65%;
  padding-top: 10px;
}

.howToImgMetamask {
  margin: auto;
  padding-top: 10px;
}

.break-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  height: 50px;
  text-align: left;
  width: 100%;
  background-color: #181a1d;
}

.links-container {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
}

.links {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 60%;
}

.header {
  font-weight: normal;
  padding-top: 15px;
  padding-left: 50px; 
  padding-right: 50px;
}

.moderator {
  color: rgb(255,182,222);
}

.donut-header {
  font-weight: bold;
  padding-top: 15px;
  padding-left: 50px; 
  padding-right: 50px;
}

.ticker-column {
  font-weight: normal;
  padding-left: 30px; 
  padding-right: 30px;
}

.contentColumn {
  font-weight: normal;
}

.caption-heading {
  font-weight: bold;
  font-size: 18px;
}

.caption-body {
  font-weight: normal;
  font-style: italic;
  color:rgb(175, 175, 175)
}

.caption-link {
  font-weight: normal;
}

.footer-text {
  font-weight: normal;
  font-style: italic;
  color:rgb(175, 175, 175)
}

.logo-column {
  font-weight: normal;
  vertical-align: top;
  width: 20%;
  padding-left: 20px; 
  padding-right: 20px;
}

.numColumn {
  padding-top: 21px;
  color: #7e7e7e;
  width: 10%;
  vertical-align: top;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 15px;
  margin-right: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
    height: 200px;
  }
}

.logo-image {
  height: 30px;
  margin-top: 15px;
}

.logo-image-large {
  height: 160px;
  width: 160px
}

.logo-image-medium {
  height: 100px;
  width: 100px
}

.inline-block {
  display: inline-block;
}

.header-style {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.body-style {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
