.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
    height: 200px;
  }
}

.logo-image {
  height: 30px;
}

.inline-block {
  display: inline-block;
}

.header-style {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.body-style {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
